{% extends "base.html" %}
{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home | Book Recommendation System</title>
    <link href="{% static 'styles.css' %}" rel="stylesheet">
</head>

<body class="bg-gray-100 font-sans">

    <div class="container mx-auto p-6">
        <!-- Search Bar -->        
        <section class="mb-8 search-container" style="background-image: url('{% static 'images/book.jpg' %}'); background-size: cover; background-position: center; min-height: 300px;">
            <div class="search-bar p-4 rounded-lg h-full w-full flex justify-center items-center">
                <div class="content w-full max-w-lg text-center">
                    <h2 class="text-2xl font-semibold mb-4 text-white">Search for Books</h2>
                    <form action="{% url 'search' %}" method="get" class="flex justify-center items-center w-full">
                        <input type="text" name="query" placeholder="Search by title, author, or genre" class="border border-gray-300 p-2 rounded-lg flex-grow mr-2" />
                        <button type="submit" class="bg-yellow-400 text-white py-2 px-4 rounded hover:bg-blue-700">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </section>

        <!-- Popular Books -->
        <div class="container mx-auto p-6">
            <!-- Popular Books -->
            <section>
                <h2 class="text-2xl font-semibold mb-4">Popular Books</h2>
                <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                    {% for book in popular_books %}
                    <div class="bg-white p-4 border rounded-lg shadow-md">
                        {% if book.cover_image %}
                        <img src="{{ book.cover_image.url }}" alt="{{ book.title }} cover" class="w-24 h-auto mb-4 mx-auto">
                        {% endif %}
                        <h3 class="text-xl font-bold mb-2">{{ book.title }}</h3>
                        <p class="text-gray-600 mb-2">{{ book.author }}</p>
                        <p class="text-gray-700 mb-4">{{ book.description|slice:":100" }}...</p>
                        <a href="{% url 'book_detail' book.id %}" class="text-blue-600 hover:underline">Read more</a>
                    </div>
                    {% endfor %}
                </div>
            </section>
        </div>

    </div>

    {% endblock %}

</body>

</html>